app-header{
  position:fixed;
  background: #fff;
  width:100%;
  z-index:8;
}

app-drawer{
    padding:20px;
}
#menuOpen{
  position: relative;
    font-size:40px;
    color:#ccc;
    margin-left:20px;
    z-index:9999;
    display:inline-block;
    width:50px;
    height:50px;
}

#mnClose{
    display:flex;
    justify-content:center;
    align-items:center;
    width:40px;
    height:40px;
    position:absolute;
    top:120px;
    right:0;
    background: #ededed;
    color:#aaa;
    font-weight: bold;
    z-index:10;
}

  .nav_mn{
      padding:60px 0;
  }
  .nav_mn li{
    font-size:25px;
    text-transform:uppercase;
  }
  .nav_mn a{
      display:block;
      padding:15px 0;
      padding-left:60px;
    color:#aaa;
    transition:.3s;
  }
  .nav_mn a:hover{
    background: #eee;
    color:#777;
  }
  .nav_mn a:before{
    content:'';
    position:absolute;
    width:60px;
    height:2px;
    background: #ccc;
    left:-60px;
    top:50%;
    transition:.4s;
  }
  

  .nav_mn li a:hover:before{
    left:-10px;
  }
  
  .nav #navOpen{
    text-decoration:none;
    font-weight: bold;
    color:#aaa;
    border:1px solid #ccc;
    display:inline-block;
    padding:10px;
  }

  .content{
    padding-top:170px;
  }

  /* swiper */
  
  .top_area{height:100%; width:100%;background: #ccc; padding-bottom:10px;}
  .swiper-container {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 40px;
    }
  
  .swiper-slide{
    background-position: center;
    background-size: cover;
    width:320px;
    height:230px;
    border-radius:5px;
    box-shadow:5px 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
  }

  .swiper-slide.swiper-slide-active{
  }
  .swiper-slide img{
    width:100%;
    /* filter:blur(25px); */
    transform:scale(1);
    transition:.5s;    
  }
  .swiper-slide.swiper-slide-active img{
    /* filter:blur(0); */
    /* transform:scale(1.3); */
  }
  .swiper-pagination{bottom:0;}
  
  .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 100%;
      background: #fff;
      opacity: .2;
    transform:scale(1);
    transition:all .3s ease-out;
  }
  
  .swiper-pagination-bullet-active {
      opacity: 1;
    transform:scale(1.3);
    transition:all .3s ease-out;
  }
  
  
  .swiper-button-next, .swiper-button-prev{transform:scale(0.7) !important;}
  


/* top_info */
.top_info{
  background:#fff;
  padding:30px;
  box-sizing:border-box;
  position:fixed;
  top:0;
  width:100%;
  height:140px;
  z-index:100;
}
.top_info.fix{
  box-shadow:5px 5px 10px 5px rgba(0,0,0,.05);
}

.top_info .tit{
  font-size:30px;
}
.top_info .logo{
  position:absolute;
  top:-40px;
  left:20px;
  font-size:25px;
  opacity:0;
}

.top_info .menu_ico{
  position:absolute;
  right:30px;
  top:20px;
}

.top_info .menu_ico .df_ico{
  position:absolute;
  right:0;
  display:flex;
}

.top_info .menu_ico .df_ico .ico{
  margin-left:10px;
  padding:5px;
}

.top_info .menu_ico .profile{
  background: #eee;
  padding:5px;
  border-radius:50%;
  display:inline-block;
  width:70px;
  height:70px;
  display:flex;
  align-items:center;
  justify-content:center;
  position: absolute;
  right:0;
  top:40px;
}
.top_info .menu_ico .profile i{
  font-size:30px;
}


.img_list{position: relative;}
.img_list .img_box{display:flex;margin:20px 15px;background:#fff;;overflow: hidden;border-radius:5px;box-shadow:2px 2px 8px 2px rgba(0,0,0,.1);transition:.3s;}
.img_list .img_box .img{width:150px;height:150px;overflow: hidden;}
.img_list .img_box .img img{width:100%;}
.img_list .img_box .txt{display:block;width:calc(100% - 150px);padding:20px;word-break:break-all;box-sizing:border-box;}
.img_list .img_box .txt .desc{display:block;display:-webkit-box;word-break:break-all;box-sizing:border-box;overflow:hidden;text-overflow:ellipsis;font-size:16px;line-height:1.5;height:70px;-webkit-line-clamp:3; -webkit-box-orient: vertical;}
.img_list .img_box .txt .tit{font-size:20px;margin-bottom:10px;color:#000;text-overflow:ellipsis;overflow: hidden;height:25px;white-space: nowrap;}

.img_list .img_box.active{flex-direction:column;margin:30px 0 30px;border-radius:0;box-shadow:none;}
.img_list .img_box.active .txt{flex-direction:column;width:100%;transition:.3s;}
.img_list .img_box.active .txt .desc{display:inherit;overflow:inherit;text-overflow:inherit;height:inherit;}
.img_list .img_box.active .txt .tit{font-size:24px;overflow:inherit;text-overflow:inherit;height:inherit;white-space:inherit;}